div.quest ul{

	padding-top: 30px;
	list-style:none;
}

div.quest ul h3{

	font-family: "Century Gothic";
	padding: 10px 10px 10px 30px;
	background-color: #222222;
	color: white;
}

div.quest ul li{
	padding: 10px 10px 10px 50px;
	background-color: #f7f7f7;
	

}